<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
    <rosparam command="load" file="$(find scout_navigation)/config/robot_localization.yaml" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <rosparam command="load" file="$(find scout_navigation)/config/navsat_transform.yaml" />
  </node>
  
</launch>