<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="cmd_vel_topic" default="/scout_velocity_controller/cmd_vel"/>
  <arg name="odom_topic" default="/scout_velocity_controller/odom"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find scout_navigation)/config/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find scout_navigation)/config/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find scout_navigation)/config/move_base_config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find scout_navigation)/config/move_base_config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find scout_navigation)/config/move_base_config/base_local_planner_params.yaml" command="load"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
  
</launch>